<%- include('partials/header'); -%>

<h2>Test</h2>
<h3>Coucou Laurent. Ceci est la page Jobs</h3>
<p><%= job.title %></p>
<p><%= job.website %></p>
<% console.log("Ceci est :", job) %>

<%- include('partials/footer'); -%>